/* ||
COLOR PALETTE

#16130F - background
#2A2E34 - dark gray
#E9EAEC - white smoke
#FBE134 - bright yellow
#E4B61A - gold
#b4ffff - light blue
#850a0a - deep red

#1c1c1c background
#202937 blue
#65de86 green
#40b980 green button
#263548 blue result
#DCE4EF gray text
*/

/* || GENERAL STYLES */

body {
    background: #1c1c1c;
    color: #DCE4EF;
    margin: 40px;
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: light;
    
}

#hero-container {
    margin: 0px;
    padding: 60px 40px 20px 40px;
    text-align: center;
}

#hero-img {
    border-radius: 50%;
    width: 150px;
    height: auto;
    margin: 20px;
    border: 3px solid #202937;
    box-shadow: 0 0 30px #202937;
}

/* || TYPOGRAPHY */

h1 {
    margin-top: 0;
    font-style: normal;
}

h2 {
    margin: 0 0 10px 0;
}

.section-heading {
    color: #65de86;
    font-size: 2em;
}

#hero-name {
    color: #65de86;
}

.skill {
    margin: 0 4px 0 0;
    padding: 6px 10px;
    background: #1c1c1c;
    color: #DCE4EF;
    border: 1px solid #40714d;
    border-radius: 5px;
    display: inline-block;
}

a {
    padding: 5px 10px;
    color: #E4B61A;
    background-color: #263548;
    border-radius: 4.6px;
    font-weight: bold;
    text-decoration: none;
}

a:hover,
a:active {
    color: #202937;
    background-color: #E4B61A;
}

/* || LAYOUT */

section {
    margin: 30px 0px;
    width: 100%;
    height: auto;
    padding: 25px 60px;
    box-sizing: border-box;
    border-radius: 15px;
    background-image: linear-gradient(180turn, #202937, 20%, #1c1c1c);
}

.example-container {
    margin: 0px 5px;
    padding: 15px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid #202937;
    transition: background-color 0.5s;
}

.example-container:hover {
    border: 2px solid #263548;
    background: #202937;
    box-shadow: 3px 3px 10px black;
}

/* || UTILITIES */

.flex {
    display: flex;
    justify-content: space-between;
}